<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h1>RESULTADOS DE LA BUSQUEDA</h1>
    {% if jugadores %}

    <ul>   
        {% for jugadores in jugadores %}
            <li>{{ jugadores.nombre }}</li>
            <li>{{ jugadores.posicion }}</li>
            <li>{{ jugadores.numero }}</li>

                <br>
                
        {% endfor %}
    </ul> 
    {% else %}
        <p>No hay jugadores en esta descripcion!!</p> 
    {% endif %}

</body>
</html>